# Django
SECRET_KEY=your-secret-key-here
DEBUG=True

# Base de données
DATABASE_URL=sqlite:///db.sqlite3

# Email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend

# API Yandex
YANDEX_MAPS_API_KEY=a31be263-54c6-4b94-abcd-e8bcbf6b50f1